<a href="https://colab.research.google.com/github/TheDarkifY/CSE203_A1/blob/main/1910800_Mostafa_Hasan_08_A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
employee = {}

def insert_emp():
  temp_employee = {}
  emp_ID = input("Insert the ID of the new employee: ")
  emp_Name = input("Insert the name of the new employee: ")
  temp_employee["Name"] = emp_Name
  emp_Salary = input("Insert the salary of the new employee: ")
  temp_employee["Salary"] = emp_Salary
  employee[emp_ID] = temp_employee
  print('\n')

def del_emp():
  emp_id = input("Insert the ID of the employee to be deleted: ")
  for i in list(employee):
    if emp_id == i:
      ID = employee.pop(i)
  print("\n{0} ID has been deleted.".format(emp_id))
  print("\n")

def all_emp_list():
  print("ID               Name                         Salary")
  for ID, val in employee.items():
    storing_value_as_list = list(val.values())
    print("{0}              {1:12}                 {2}".format(ID, storing_value_as_list[0], storing_value_as_list[1]))
  print('\n')

def Highest_paid_salary():
  salary_list = []
  for ID, val in employee.items():
    x = list(val.values())
    y = int(x[1])
    z = salary_list.append(y)
  max_sal = max(salary_list)
  high_sal = str(max_sal)
  print('\n')

  for ID, val in employee.items():
    x = list(val.values())
    if x[1] == high_sal:
      print(x[0])



i = 0
while i != "0":
  insert_employee = print("1. Insert employee")
  Delete_employee = print("2. Delete employee")
  print_all_employee = print("3. Print all employee")
  P_the_Name_of_HPaid_Emp = print("4. Print the name of the highest paid employee")
  exit_ = print("5. Exit")
  print("\n")
  i = input("Select an option (1/2/3/4/5): ")
  if i == "1":
    insert_emp()
  elif i == "2":
    del_emp()
  elif i == "3":
    all_emp_list()
  elif i == "4":
    Highest_paid_salary()
  elif i == "5":
    print("\nThank you for visiting :)")
    break
    i = 0
  else:
    print("\nPlease enter a valid option\n")

1. Insert employee
2. Delete employee
3. Print all employee
4. Print the name of the highest paid employee
5. Exit


Select an option (1/2/3/4/5): 1
Insert the ID of the new employee: 102
Insert the name of the new employee: Sakib
Insert the salary of the new employee: 30000


1. Insert employee
2. Delete employee
3. Print all employee
4. Print the name of the highest paid employee
5. Exit


Select an option (1/2/3/4/5): 1
Insert the ID of the new employee: 122
Insert the name of the new employee: Nafis
Insert the salary of the new employee: 50000


1. Insert employee
2. Delete employee
3. Print all employee
4. Print the name of the highest paid employee
5. Exit


Select an option (1/2/3/4/5): 1
Insert the ID of the new employee: 450
Insert the name of the new employee: Arif
Insert the salary of the new employee: 20000


1. Insert employee
2. Delete employee
3. Print all employee
4. Print the name of the highest paid employee
5. Exit


Select an option (1/2/3/4/5): 2
Insert the ID of the employee to be deleted: 122

122 ID has been deleted.


1. Insert employee
2. Delete employee
3. Print all employee
4. Print the name of the highest paid employee
5. Exit


Select an option (1/2/3/4/5): 3
ID               Name                         Salary
102              Sakib                        30000
450              Arif                         20000


1. Insert employee
2. Delete employee
3. Print all employee
4. Print the name of the highest paid employee
5. Exit


Select an option (1/2/3/4/5): 5

Thank you for visiting :)