<a href="https://colab.research.google.com/github/TheDarkifY/CSE203_A1/blob/main/1910800_Mostafa_Hasan_08_A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def insert_emp():
  temp_employee = {}
  emp_ID = input("Insert the ID of the new employee: ")
  value_1 = emp_ID
  temp_employee["ID"] = value_1
  emp_Name = input("Insert the name of the new employee: ")
  value_2 = emp_Name
  temp_employee["Name"] = value_2
  emp_Salary = input("Insert the salary of the new employee: ")
  value_3 = emp_Salary
  temp_employee["Salary"] = value_3

def del_emp():
  print("hi")
  
def all_emp_list():
  print(employee)

'''insert_employee = print("1. Insert employee")
one_ = input()
Delete employee = print("2. Delete employee")
two_ = input()
print_all_employee = print("3. Print all employee")
three_ = input()
P_the_Name_of_HPaid_Emp = print("4. Print the name of the highest paid employee")
four_ = input()
exit_ = print("Exit")
five_ = input() '''
employee = {}

insert_employee = print("1. Insert employee")
Delete_employee = print("2. Delete employee")
print_all_employee = print("3. Print all employee")
P_the_Name_of_HPaid_Emp = print("4. Print the name of the highest paid employee")
exit_ = print("5. Exit")
i = 0
while i != "0":
  i = input(print("Select an option (1/2/3/4/5): "))
  if i == "1":
    insert_emp()
  if i == "2":
    del_emp()
  if i == "3":
    all_emp_list()
  if i == "4":
    highest_paid_emp()
  if i == "5":
    print("Thank you for visiting :)")
    break
    i = 0

# creating functions

1. Insert employee
2. Delete employee
3. Print all employee
4. Print the name of the highest paid employee
5. Exit
Select an option (1/2/3/4/5):
1
Insert the ID of the new employee: 450
Insert the name of the new employee: arif
Insert the salary of the new employee: 20000
Select an option (1/2/3/4/5):
5
Thank you for visiting :)

In [ ]:
employee = {}

def insert_emp():
  temp_employee = {}
  emp_ID = input("Insert the ID of the new employee: ")
#  temp_employee["ID"] = emp_ID
  emp_Name = input("Insert the name of the new employee: ")
  temp_employee["Name"] = emp_Name
  emp_Salary = input("Insert the salary of the new employee: ")
  temp_employee["Salary"] = emp_Salary
  employee[emp_ID] = temp_employee

def del_emp():
  emp_id = (input("Enter id"))
  for i in list(employee):
    if emp_id == i:
      employee.pop(i)
  print(employee)

def all_emp_list():
  print(employee)

i = 0
while i != "0":
  insert_employee = print("1. Insert employee")
  Delete_employee = print("2. Delete employee")
  print_all_employee = print("3. Print all employee")
  P_the_Name_of_HPaid_Emp = print("4. Print the name of the highest paid employee")
  exit_ = print("5. Exit")
  i = input(print("Select an option (1/2/3/4/5): "))
  if i == "1":
    insert_emp()
  if i == "2":
    del_emp()
  if i == "3":
    all_emp_list()
  if i == "4":
    print('x')
  if i == "5":
    print("Thank you for visiting :)")
    break
    i = 0

1. Insert employee
2. Delete employee
3. Print all employee
4. Print the name of the highest paid employee
5. Exit
Select an option (1/2/3/4/5):
1
Insert the ID of the new employee: 1
Insert the name of the new employee: df
Insert the salary of the new employee: 453
1. Insert employee
2. Delete employee
3. Print all employee
4. Print the name of the highest paid employee
5. Exit
Select an option (1/2/3/4/5):
1
Insert the ID of the new employee: 2
Insert the name of the new employee: jh
Insert the salary of the new employee: 675
1. Insert employee
2. Delete employee
3. Print all employee
4. Print the name of the highest paid employee
5. Exit
Select an option (1/2/3/4/5):
3
{'1': {'Name': 'df', 'Salary': '453'}, '2': {'Name': 'jh', 'Salary': '675'}}
1. Insert employee
2. Delete employee
3. Print all employee
4. Print the name of the highest paid employee
5. Exit
Select an option (1/2/3/4/5):
2
Enter id1
{'2': {'Name': 'jh', 'Salary': '675'}}
1. Insert employee
2. Delete employee
3. Print all employee
4. Print the name of the highest paid employee
5. Exit
Select an option (1/2/3/4/5):
3
{'2': {'Name': 'jh', 'Salary': '675'}}
1. Insert employee
2. Delete employee
3. Print all employee
4. Print the name of the highest paid employee
5. Exit
Select an option (1/2/3/4/5):

In [ ]:
students = {101:"Arko", 106: "Milkan", 241: "Rika", 502: "Zahid"}
def del_emp():
  emp_id = int(input("Enter id"))
  for i in list(students):
    if emp_id == i:
      students.pop(i)
  print(students)

del_emp()

Enter id101
{106: 'Milkan', 241: 'Rika', 502: 'Zahid'}

In [ ]:
students = {101:{'hasan':'324'}, 106: "Milkan", 241: "Rika", 502: "Zahid"}
print(list(students))

[101, 106, 241, 502]