<a href="https://colab.research.google.com/github/TheDarkifY/CSE203_A1/blob/main/1910800_Mostafa_Hasan_08_A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
def insert_emp():
  emp_ID = input("Insert the ID of the new employee: ")
  value_1 = emp_ID
  employee["ID"] = value_1
  emp_Name = input("Insert the name of the new employee: ")
  value_2 = emp_Name
  employee["Name"] = value_2
  emp_Salary = input("Insert the salary of the new employee: ")
  value_3 = emp_Salary
  employee["Salary"] = value_3

def del_emp():
  print("hi")
  
def all_emp_list():
  for x,y in employee.items():
    print("ID",x,"Name",y)

'''insert_employee = print("1. Insert employee")
one_ = input()
Delete employee = print("2. Delete employee")
two_ = input()
print_all_employee = print("3. Print all employee")
three_ = input()
P_the_Name_of_HPaid_Emp = print("4. Print the name of the highest paid employee")
four_ = input()
exit_ = print("Exit")
five_ = input() '''
employee = {}

insert_employee = print("1. Insert employee")
Delete_employee = print("2. Delete employee")
print_all_employee = print("3. Print all employee")
P_the_Name_of_HPaid_Emp = print("4. Print the name of the highest paid employee")
exit_ = print("5. Exit")
i = 0
while i != "0":
  i = input(print("Select an option (1/2/3/4/5): "))
  if i == "1":
    insert_emp()
  if i == "2":
    del_emp()
  if i == "3":
    all_emp_list()
  if i == "4":
    highest_paid_emp()
  if i == "5":
    print("Thank you for visiting :)")
    break
    i = 0

# creating functions

1. Insert employee
2. Delete employee
3. Print all employee
4. Print the name of the highest paid employee
5. Exit
Select an option (1/2/3/4/5):
1
Insert the ID of the new employee: 54
Insert the name of the new employee: hjh
Insert the salary of the new employee: 5445
Select an option (1/2/3/4/5):
3
ID ID Name 54
ID Name Name hjh
ID Salary Name 5445
Select an option (1/2/3/4/5):
5
Thank you for visiting :)

In [20]:
x = dict()
key1 = input("enter key")
value1 = input("enter value")
x[key1] = value1

key2 = input("enter key")
value2 = input("enter value")
x[key2] = value2

key3 = input("enter key")
value3 = input("enter value")
x[key3] = value3
x

enter keyid
enter value50
enter keyname
enter valuehasan
enter keysalary
enter value5000

{'id': '50', 'name': 'hasan', 'salary': '5000'}